
   body {
    background-color: whitesmoke; 
    font-family: Verdana, sans-serif; 
    font-size: 100%;
    }

    header{
        position: relative;
    }
   h1 {

    /*background-color: red;
    color: navy; */
    text-align: center;
    }
   h3 {
    
   /* color: ; */
    padding-left: 15px;
    text-align: center;
    }

    h5 {
    
        /*color: ; */
        padding-left: 15px;
        text-align: center;
        }

    aside {
        width: 40%;
        padding-left: .7rem;
        margin-left: .7rem;
        float: right;
        box-shadow: inset 5px 0 5px -5px #29627e;
        font-style: italic;
        color: #29627e;
        margin: 3;
    }

    img {
        position: absolute;
        width:120px;
        height:170px;
		top: +20px;
		right: 130px;

    }

    .formulaire {
        margin-left : 45px;
    }

    
    .formulaire2{
        margin-left : 50px;
    }

    .test{
        width: 100%;
    }

    .menu {
        position:relative;

        list-style-type: none;
        margin:0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #e7e7e7;
        background-color: #c4b5b5;
 
      }

      .menu2 {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      

    

    


